@import '~antd/dist/antd.css';

.App {
	font-family: sans-serif;
	text-align: center;
}

.Question {
	text-align: left;
	font-size: 1.2em;
	margin: 0px 30px;
	padding-top: 20px;
}

.Image {
	width: 100%;
	max-width: 250px;
	height: 130px;
	object-fit: contain;
	object-position: bottom;
	padding-top: 20px;
}

.Button {
	margin: 50px;
	display: inline-flex;
	align-items: center;
	border: none transparent;
	background: rgba(71, 188, 218, 0.842);
	padding: 2em 4em;
	font-size: 1.2em;
	border-radius: 7px;
}

.Radio {
	background: rgba(255, 255, 255, 0.842);
	padding: 20px;
	margin: 5px;
	border-radius: 7px;
	border-style: 'solid';
	border-color: rgba(71, 188, 218, 0.842);
	border-width: 40px;
	width: 100%;
}
